matplotlib                  =3.10.3
matplotlib-inline           =0.1.7
npzviewer                   =0.2.0
numexpr                     =2.11.0
numpy                       =1.26.3
nuscenes-devkit             =1.2.0
open3d                      =0.17.0
packaging                   =25.0
pandas                      =2.3.0
parameterized               =0.9.0
parso                       =0.8.4
pillow                      =11.0.0
pip                         =25.1.1
pyquaternion                =0.9.9
scikit-image                =0.25.2
scikit-learn                =1.7.0
scipy                       =1.15.3
torch                       =2.1.0+cu118
torch-scatter               =2.1.2+pt21cu118
torchaudio                  =2.1.0+cu118
torchmetrics                =1.7.3
torchvision                 =0.16.0+cu118
tqdm                        =4.67.1
zipp                        =3.23.0